*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.lab1{
    width: 100%;
    height: 100%;
}

.section2 {
    background-color: black;
    padding-top: 50px;
}
.section1{
    background-color: black;
}
.store{
    color: green;
    margin-top: 100px;
    
}
.imgstore{
    margin-top: 7rem;
    margin-left: 170px;
}

.app{
    width: 100%;
}